body{
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App{
  background-color: #fff;
  padding: 30px 30px 30px 30px;
  margin: 100px;
  border: transparent;
  border-radius: 16px;
  max-width: 300px;
  text-align: center;
}

button{
  background-color: #07f;
  padding: 15px 40px;
  border: transparent;
  border-radius: 8px;
  margin: 30px;
}

h1{
  border: #222 solid 2px;
  border-radius: 8px;
  background-color: #f80;
  padding:10px;
  margin-bottom: 40px;
}